@font-face { font-family: opensans; src: url('./OpenSans-Regular.ttf');}

html {
	scroll-behavior: smooth;
	font-family: opensans;
	color: white;
	font-size:20px;
	/* The image used */
	background-image: url("background.png");

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	background-image: url("background-color.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position-y: 5cm;
}

.button {
	background-color: #4CAFFF;
	
	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 0px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
}

.button:hover {
  background-color: #5dc2f5;
}
.button:active {
  background-color: #5591ff;
}